<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>HR Dashboard </title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css">
    <script type='text/javascript' src='static/js/mobile.js'></script>
    <style>
    body {background-image : url('static/images/hr-trends.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;}
	h1 {
		color:powderblue;
	}
            </style>         
</head>
<body>
	<div id="header">
		<h1 style='color:powderblue;'><span><b>HR SALARY PREDICTION </b></span></h1>
		<ul id="navigation">
			<li class="current">
				<a href="/">Home</a>
			</li>
			 
			<li>
				<a href="/prediction">Salary Prediction</a>
				
			</li>
			
			
		</ul>
	</div>
	<div id="body">
		<div id="tagline">
			<h1> DASHBOARD </h1>
			<p>
                <h2> A human resources (HR) manager oversees policies, procedures and compliance relating to employees for their organization. </h2> 
                <h2> They ensure all human resources activities are in compliance with local, state and federal laws,</h2>
                <h2> as well as implement and oversee programs related to employee benefits and initiatives. </h2>
                
			</p>
		</div>
		<img src="static/images/download.jpg" alt="HR" class="figure">
	</div>
	<div id="footer">
		<div>
			<span>City Location,Trivandrum | Country-India</span>
			
		</div>
		<div id="connect">
			<a href="https://www.facebook.com/" id="facebook" target="_blank">Facebook</a>
			<a href="https://twitter.com/LOGIN" id="twitter" target="_blank">Twitter</a>
			<a href="https://myaccount.google.com/?utm_source=sign_in_no_continue&pli=1" id="googleplus" target="_blank">Google&#43;</a>
			<a href="https://in.pinterest.com/" id="pinterest" target="_blank">Pinterest</a>
		</div>
	</div>
</body>
</html>